

{% extends 'layout.html' %}

{% load static %}
{% block title %}
 
Plus One 

{% endblock %}



{% block content %}
<div class="container align-items-center">
    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Sets</h3>
            <a href="{% static 'pdfs/notes/11/sets.pdf' %}" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Relations and Functions</h3>
            <a href="{% static 'pdfs/notes/11/relations.pdf' %}" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Triganometric Functions</h3>
            <a href="./pdf/11/triganometry.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Complex Numbers and Quadratic Equations</h3>
            <a href="./pdf/11/complex.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Linear Inequalities</h3>
            <a href="./pdf/11/linear.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Permutations and Combinations</h3>
            <a href="./pdf/11/probability.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Binomial Theorem</h3>
            <a href="./pdf/11/probability.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Sequences and Series</h3>
            <a href="./pdf/11/sequence.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Straight Lines</h3>
            <a href="./pdf/11/straight .pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Conic Sections</h3>
            <a href="./pdf/11/conic.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Introduction to Three Dimensional Geometry</h3>
            <a href="./pdf/11/3d.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Limits and Derivatives</h3>
            <a href="./pdf/11/limts.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Statitics</h3>
            <a href="./pdf/11/statitics.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Probability</h3>
            <a href="./pdf/11/probability.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>


    </div>
  </div>



{% endblock %}