
{% extends 'layout.html' %}

{% load static %}
{% block title %}
 
Plus Two 

{% endblock %}


{% block content %}

<div class="container align-items-center">
    <div class="row mb-2">

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Relations and Functions</h3>
            <a href="{% static 'pdfs/notes/11/sets.pdf' %}" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Inverse Triganometric Functions</h3>
            <a href="./pdf/12/main.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Matrices</h3>
            <a href="./pdf/12/matrices.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Determinants</h3>
            <a href="./pdf/12/determinants.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Continuity and Differentiability</h3>
            <a href="./pdf/12/contanddiff.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Application of Derivatives</h3>
            <a href="./pdf/12/applicationofderivatives.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Integrals</h3>
            <a href="./pdf/12/integrals.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Application of Integrals</h3>
            <a href="./comingsoon.html" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Differential Equations</h3>
            <a href="./comingsoon.html" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Vector Algebra</h3>
            <a href="./pdf/12/vector.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Three Dimensional Geometry</h3>
            <a href="./pdf/12/threedimensional.pdf" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Linear Programming</h3>
            <a href="./comingsoon.html" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static bg-light">
            <h3 class="mb-0">Probability</h3>
            <a href="./comingsoon.html" class="stretched-link">Download</a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
      </div>


    </div>
  </div>




{% endblock %}